/* body */
body {
  /* overflow: hidden; */
  font-family: 'Fredericka the Great', cursive;
  color: burlywood;
  background-image: url("images/background-2.jpg");
}

/*playerinput*/
#player1input{
  display: inline;
}

/* game frame */
#gameFrame {
  position: relative;
  width: 1440px;
  height: 800px;
  border: dashed lightskyblue 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#board {
  position: relative;
  width: 800px;
  height: 600px;
  border: dashed lightskyblue 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/* board cells */
.cell {
	position: relative;
	top: 0px;
	left: 0px;
	padding: 0px;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-size: auto 40px;
}

.board-center {
	width: 675px;
	border: none;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-size: auto 40px;
}

.cell-board-corner {
	width: 120px;
  height: 120px;
  border: solid black 1px;
}

.cell-board-top {
	width: 120px;
  height: auto;
  border: dashed black 1px;
}

.cell-board-bottom {
	width: 120px;
  height: auto;
  border: dashed black 1px;
}

.cell-board-left {
	width: auto;
  height: 120px;
  border: solid black 1px;
}

.cell-board-right {
  width: auto;
  height: 120px;
  border: solid black 1px;
}

/* score board */
#scoreBoard {
  position: absolute;
  bottom: 450px;
  left: 50px;
  width: 100px;
  height: 300px;
  border: dashed lightskyblue 4px;
}

/* dice */
#dice {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50px;
  border: solid lightcoral 3px;
}

.diceImages > img {
  width: 30px;
}

/* players */
#players {
  position: absolute;
  width: 200px;
  height: 500px;
  margin-left: 1200px;
  bottom: 250px;
  border: dashed lightskyblue 4px;
}

#control {
  position: relative;
  width: 300px;
  height: 200px;
  margin-left: auto;  
  margin-right: auto;
  bottom: 400px;
  border: dashed lightskyblue 4px;
}

/* Player colors */
.player1Pos {
  background-color: rgb(77, 166, 255);
  width: 30px;
  height: 30px;
}

.player2Pos {
  background-color: rgb(255, 77, 106);
  width: 30px;
  height: 30px;
}

.player3Pos {
  background-color: rgb(77, 255, 77);
  width: 30px;
  height: 30px;
}

.player4Pos {
  background-color: rgb(255, 166, 77);
  width: 30px;
  height: 30px;
}
.cell-board-corner{
background-color: bisque;
}
#cell1,#cell23,#cell7,#cell5,#cell11,#cell13,#cell13,#cell17,#cell19{
  background-color:lightgreen;
}
#cell2,#cell4,#cell20,#cell22,#cell14,#cell16,#cell10,#cell8{
  background-color: coral;
}
#cell15,#cell21,#cell3,#cell9{
  background-color: palevioletred
}
