<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Monopoly</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="game.css">

</head>

<body>
    <div id="gameFrame">
        <table id="board">
            <tr class="top-row">
                <td class="cell-board-corner" id="cell12"></td>
                <td class="cell-board-top" id="cell13">
                    <p class="cell13Owner"></p>
                </td>
                <td class="cell-board-top" id="cell14">
                    <p class="cell14Owner"></p>
                </td>
                <td class="cell-board-top" id="cell15"></td>
                <td class="cell-board-top" id="cell16">
                    <p class="cell16Owner"></p>
                </td>
                <td class="cell-board-top" id="cell17">
                    <p class="cell17Owner"></p>
                </td>
                <td class="cell-board-corner" id="cell18"></td>
            </tr>
            <tr>
                <td class="cell-board-left" id="cell11">
                    <p class="cell11Owner"></p>
                </td>
                <td colspan="5" class="board-center"></td>
                <td class="cell-board-right" id="cell19">
                    <p class="cell19Owner"></p>
                </td>
            </tr>
            <tr>
                <td class="cell-board-left" id="cell10">
                    <p class="cell10Owner"></p>
                </td>
                <td colspan="5" class="board-center"></td>
                <td class="cell-board-right" id="cell20">
                    <p class="cell20Owner"></p>
                </td>
            </tr>
            <tr>
                <td class="cell-board-left" id="cell9"></td>
                <td colspan="5" class="board-center"></td>
                <td class="cell-board-right" id="cell21"></td>
            </tr>
            <tr>
                <td class="cell-board-left" id="cell8">
                    <p class="cell8Owner"></p>
                </td>
                <td colspan="5" class="board-center"></td>
                <td class="cell-board-right" id="cell22">
                    <p class="cell22Owner"></p>
                </td>
            </tr>
            <tr>
                <td class="cell-board-left" id="cell7">
                    <p class="cell7Owner"></p>
                </td>
                <td colspan="5" class="board-center"></td>
                <td class="cell-board-right" id="cell23">
                    <p class="cell23Owner"></p>
                </td>
            </tr>
            <tr class="bottom-row">
                <td class="cell-board-corner" id="cell6"></td>
                <td class="cell-board-bottom" id="cell5">
                    <p class="cell5Owner"></p>
                </td>
                <td class="cell-board-bottom" id="cell4">
                    <p class="cell4Owner"></p>
                </td>
                <td class="cell-board-bottom" id="cell3"></td>
                <td class="cell-board-bottom" id="cell2">
                    <p class="cell2Owner"></p>
                </td>
                <td class="cell-board-bottom" id="cell1"></td>
                <td class="cell-board-corner" id="cell0"></td>
            </tr>
        </table>

        <div id="dice">
            <button class="rollDice">Roll</button>
            <p class="diceImages"></p>
        </div>

        <div id="playerInfo">
            <p class="player1Info">
            </p>
            <p class="player2Info">
            </p>
            <p class="player3Info">
            </p>
            <p class="player4Info">
            </p>
            <div class="currentPlayerTurn"></div>
        </div>

        <div id="control">
            <div id="buttons">
                <button class="buy">Buy</button>
                <button class="pass">Pass</button>
                <button class="trade">Trade</button>
            </div>
            <div id="message"></div>
            <div class="error"></div>
        </div>
    </div>

    <div class="widthInfo">This game is best viewed on a screen at least 750 pixels wide and 750 pixels tall.</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="game.js"></script>
</body>

</html>