/* body */
body {
  font-family: 'Fredericka the Great', cursive;
  background-image: url("../images/background-2.jpg");
  box-sizing: border-box;
  /* text-transform: uppercase; */
}

/* game frame */
#gameFrame {
  position: relative;
  height: 100%;
  /* outline: dashed rgba(135, 206, 250, 0.724) 10px;
  outline-offset: -15px; */
  margin: 10px 0;
}

#board {
  position: relative;
  width: 100%;
  border: dashed lightskyblue 5px;
  margin-left: 0;
  margin-right: 0;
  /* margin-top: 30px; */
}

#buttons {
  display:none;
}
/* board cells */
.cell {
  display: flex;
  justify-content: start;
	top: 0px;
	left: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	background-size: auto 40px;
}

.board-center {
	width: 675px;
	border: none;
	background-repeat: no-repeat;
	background-size: auto 40px;
}

.cell-board-corner {
  vertical-align: top;
  text-align: center;
	width: 100px;
  height: 120px;
  border: solid black 1px;
}

.cell-board-top {
  vertical-align: top;
  text-align: center;
	width: 100px;
  height: 120px;
  border: dashed black 1px;
}

.cell-board-bottom {
  vertical-align: top;
  text-align: center;
	width: 100px;
  height: 120px;
  border: dashed black 1px;
}

.cell-board-left {
  vertical-align: top;
  text-align: center;
	width: auto;
  height: 120px;
  border: solid black 1px;
}

.cell-board-right {
  vertical-align: top;
  text-align: center;
  width: auto;
  height: 120px;
  border: solid black 1px;
}

/* dice */
#dice {
  display:none;
  text-align: center;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 16%;
  top: 60%;
  border: solid lightcoral 3px;
}

#start {
  display:none;
  text-align: center;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 27%;
  top: 60%;
  border: solid lightcoral 3px;
}


.diceImages {
  margin-top: 15px;
}

.diceImages > img {
  width: 30px;
  height: 30px;
}

/* players */
#playerInfo {
  position: absolute;
  width: 200px;
  height: 450px;
  top: 18%;
  right: 16%;
  border: dashed lightskyblue 4px;
  background-color: rgba(255, 255, 255, 0.45);
}

.currentPlayerTurn {
  position: absolute;
  bottom: 0;
}

#control {
  position: absolute;
  width: 300px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  top: 24%;
  right: 44%;
  border: dashed lightskyblue 4px;
}

.error {
  position: absolute;
  bottom: 0;
  color: rgb(255, 0, 0);
}

/* Player colors */
.positionMarker {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid black;
}

.player1Pos {
  background-color: rgb(77, 166, 255);
}
.player2Pos {
  background-color: rgb(255, 77, 106);
}
.player3Pos {
  background-color: rgb(77, 255, 77);
}
.player4Pos {
  background-color: rgb(255, 166, 77);
}

.player1Info {
  color: rgb(77, 166, 255);
}

.player2Info {
  color: rgb(255, 77, 106);
}

.player3Info {
  color: rgb(77, 255, 77);
}

.player4Info {
  color: rgb(255, 166, 77);
}

/* Square background colors */

.cell-board-corner{
background-color: rgba(255, 228, 196, 0.45);
}
#cell1,#cell23,#cell7,#cell5,#cell11,#cell13,#cell13,#cell17,#cell19{
  background-color:rgba(144, 238, 144, 0.45);
}
#cell2,#cell4,#cell20,#cell22,#cell14,#cell16,#cell10,#cell8{
  background-color: rgba(255, 127, 80, 0.45);
}
#cell15,#cell21,#cell3,#cell9{
  background-color: rgba(216, 112, 147, 0.45)
}

.widthInfo {
  display: none;
}

@media only screen and (max-width: 750px), screen and (max-height: 750px) {
  .widthInfo {
    display: block;
  }
}
