<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Monopoly</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="game.css">

</head>

<body>

    <div id="gameFrame">

        <div id="board">

            <div class="top-row">

                <div class="cell-board-corner" id="cell12">!!!FREE <br /> PARKING!!!</div>
                <div class="cell-board-top" id="cell13">Progess <br /> Park</div>
                <div class="cell-board-top" id="cell14">George Street</div>
                <div class="cell-board-top" id="cell15">Improvement <br /> Tax</div>
                <div class="cell-board-top" id="cell16">Johnson <br /> Road</div>
                <div class="cell-board-top" id="cell17">Fels <br /> Avenue</div>
                <div class="cell-board-corner" id="cell18">JAIL!</div>
            </div>

            <div class="left-col">

                <div class="cell-board-left" id="cell11">The Bowery</div>
                <div class="cell-board-left" id="cell10">Hell's <br /> Half <br /> Acre</div>
                <div class="cell-board-left" id="cell9">Land Taxes</div>
                <div class="cell-board-left" id="cell8">Goat <br /> Alley</div>
                <div class="cell-board-left" id="cell7">Poverty Place</div>
            </div>

            <div class="board-center">
                <h1>monopoly</h1>

                <div id="scoreBoard">score board</div>

                <div id="dice">
                    <button class="rollDice">Roll</button>
                    <p class="diceImages"></p>
                </div>

                <div id="playerInfo">
                    <p class="player1Info">
                    </p>
                    <p class="player2Info">
                    </p>
                    <p class="player3Info">
                    </p>
                    <p class="player4Info">
                    </p>
                </div>

                <div id="control">
                    <div id="buttons">
                        <button class="bid">Bid</button>
                        <button class="buy">Buy</button>
                        <button class="trade">Trade</button>
                    </div>
                    <div id="message">
                        message
                    </div>
                </div>
            </div>

            <div class="right-col">

                <div class="cell-board-right" id="cell19">Broadway</div>
                <div class="cell-board-right" id="cell20">Fifth Avenue</div>
                <div class="cell-board-right" id="cell21">Income <br /> Tax</div>
                <div class="cell-board-right" id="cell22">Lake <br /> Shore <br /> Drive</div>
                <div class="cell-board-right" id="cell23">Easy Street</div>
            </div>

            <div class="bottom-row">

                <div class="cell-board-corner" id="cell6">Lord <br /> BlueBlood's Estate <br /> Goto Jail</div>
                <div class="cell-board-bottom" id="cell5">Boomtown</div>
                <div class="cell-board-bottom" id="cell4">Jaytown4</div>
                <div class="cell-board-bottom" id="cell3">Personal <br /> Property Tax</div>
                <div class="cell-board-bottom" id="cell2">Lonely <br /> Lane</div>
                <div class="cell-board-bottom" id="cell1">Wayback</div>
                <div class="cell-board-corner" id="cell0">START <br /> GO!</div>
            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="game.js"></script>
</body>

</html>